<div class="bootcamp content_pos">
  <div class="hero-unit">
    <h1 class="space_top">Bootcamp July 13th at Noon</h1>
    <hr>
    <p style="font-size:20px;padding-top:20px;"><a href="http://www.cloudfoundry.com" target="_blank">Cloud Foundry</a> was nice enough to donate accounts for all contributors.
    <a href="https://my.cloudfoundry.com/signup/contributingcode" target="_blank" class="btn btn-primary bw btn-large" >signup for free</a> 
    </p>

    <h2 class="space_top">Bootcamp Sessions</h2>
      <div class="row">
      <div class="span2">
        <img src="http://opentour.cloudfoundry.com/img/speakers/speaker-richardson.jpg" class="medium-avatar"/>
        <p><a href="http://twitter.com/#!/crichardson" target="_blank">Chris Richardson</a></p>
      </div>
      <div class="span8">
        <h3>Cloud Foundry Web Development Bootcamp</h3>
         <p>
           Hands on guide and introduction for Cloud Foundry for novices. This sessions covers the basics of accessing the Cloud Foundry platform as a service,
           how to use cloudfoundry.com, how to install and use Micro Cloud Foundry on your laptop, and covers the basics vmc commands for the platform.
           The session will provide hands on troubleshooting for developers that want to install and set-up Cloud Foundry in the session.
         </p>
      </div>
    </div>
      <div class="row">
      <div class="span2">
        <img src="http://ciberch.cloudfoundry.com/images/me.jpg" class="medium-avatar"/>
        <p><a href="http://twitter.com/#!/ciberch" target="_blank">Monica Wilkinson</a></p>
      </div>
      <div class="span8">
        <h3>Ruby Basics on Cloud Foundry</h3>
         <p>
           In this session we will cover how to build a Sinatra Web Application and a Rails Web Application.
           We will also show you how to create a manifest for your application for Cloud Foundry detailing all of the resources it needs to run,
           how auto reconfiguration helps you seamlessly transition between your local environment and the cloud,
           how standalone Ruby applications work, and which tasks Ruby applications can help you accomplish.
           <a class="btn" href="https://github.com/ciberch/friends">Github Demo App</a>
         </p>
      </div>
    </div>

      <div class="row">
        <div class="span2">
          <img src="http://opentour.cloudfoundry.com/img/speakers/speaker-long.png" class="medium-avatar"/>
          <p><a href="http://twitter.com/#!/starbuxman" target="_blank">Josh Long</a></p>
        </div>
        <div class="span8">
          <h3>Spring into the Cloud</h3>
           <p>
             This talk will describe how to deploy Java/Spring applications on Cloud Foundry.
             You will learn about the Spring application development lifecycle with Cloud Foundry: local development with STS,
             local deployment to Micro Cloud Foundry for testing, and deployment to CloudFoundry.com.
             We will describe how to use the Spring APIs that make Cloud Foundry a premiere destination for your applications.
             <a class="btn" href="https://github.com/cloudfoundry-samples/springmvc-hibernate-template">Github Demo App</a>
           </p>
        </div>
      </div>

      <div class="row">
        <div class="span2">
          <img src="http://opentour.cloudfoundry.com/img/speakers/speaker-rao.png" class="medium-avatar"/>
          <p><a href="http://twitter.com/#!/rajaraodv" target="_blank">Raja Rao DV</a></p>
        </div>
        <div class="span8">
          <h3>Becoming a Node.js Ninja on Cloud Foundry</h3>
           <p>
             In this session you will learn about: What Node.js is, the internal workings of Node.js & the buzz around it, aspects of asynchronous code, callbacks, async exception handling,
             events, organizing Node.js code, modules, npm, package.json, managing your Node.js apps on Cloud Foundry,
             how easy it is to run your Node.js app in Cloud Foundry with very few modifications, and how to use various tools offered by Cloud Foundry to manage, scale & debug your apps.
             <a class="btn" href="https://github.com/rajaraodv/socketio1">Github Demo App</a>
           </p>
        </div>
      </div>
  </div>

</div>
