<div class="prizes content_pos">
  <div class="hero-unit">
    <h1>Prizes</h1>
    <hr>
    <div class="row">
      <div class="span3" style="text-align:center;">
        <img align="top" src="/assets/prize_First.png">
        <h1>$4000</h1>
        <p>First prize</p>
      </div>
      <div class="span3" style="text-align:center;">
        <img align="top" src="/assets/prize_Second.png">
        <h1>$2000</h1>
        <p>Second prize</p>
      </div>
      <div class="span3" style="text-align:center;">
        <img align="top" src="/assets/prize_Third.png">
        <h1>$1000</h1>
        <p>Third prize</p>
      </div>
    </div>

    <div class="row">
      <div class="span10">
        <h2>T-Shirts</h2>
        <p>Will be handed out on the final day of the Code Sprint: July 28th, 2012.</p>
      </div>
    </div>


    <div class="row">
      <div class="span10">
        <h2>Github Schwags and Accounts</h2>
        <p>For specific categories. Will be announced later.</p>
      </div>
    </div>

    <div class="row">
          <div class="span10">
            <h2>Karma</h2>
    <p>Great opportunities to help others seldom come, but small ones surround us every day.<br/>
    ~Sally Koch
    </p>
          </div>
              </div>
  </div>


</div>
