<div class="rules content_pos"
     xmlns="http://www.w3.org/1999/html">
<div class="hero-unit">
<h1>Rules </h1>
<hr>
   <br/>
    <p>Two week code sprint. All teams will start working and end at the same time.</p>

  <h2>Missions</h2>
    <p>Will be revealed during the Bootcamp on July 13th</p>

  <h2>Source Code</h2>
    <p>We will give each team a private <a href="http://github.com">GitHub</a> repository</p>

  <h2>Running Code and Demos</h2>
    <p>Must be built as an App on <a href="http://www.cloudfoundry.com">Cloud Foundry</a></p>

  <h2>Submissions</h2>
    <p>Must be done by Saturday July 28th at 6pm</p>
  <h2>Members</h2>
    <p>Each team may have up to a maximum of 4 members. All members must have a <span class="bold">non expired student id</span>.</p>
</div>

  <div class="hero-unit">
    <h1>Questions ? </h1>
    <p>Reach us via <a href="https://twitter.com/intent/tweet?text=@cfcodesprint" target="_blank">Twitter</a></p>
    </div>

</div>
