<div class="schedule content_pos">
    <div class="hero-unit" style="width:600px">
      <h1>Schedule</h1>
     <hr>

    <h3>Code Sprint July 28, 2012 </h3>

      <br />
      <br />
      <table class="table table-bordered">
      <tr>
        <th>Time</th>
        <th>Event</th>
      </tr>
      <tr>
        <td>09:00am - 10:00am</td>
        <td><strong>Welcome</strong>
          <ul>
          <li>Check In with your Student ID</li>
          <li>Grab Breakfast</li>
          <li>Set Up Team Space</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>10:00am - 10:15am</td>
        <td>A word from the VMware Service Foundation</td>
      </tr>
    <tr>
       <td>10:15am - 08:00pm</td>
       <td><strong>Coding</strong>
         <ul>
         <li>Lunch served starting at 12:30</li>
         <li>Dinner served starting at 7pm</li>
         </ul>
       </td>
     </tr>
      <tr>
        <td>08:00pm - 09:00pm</td>
        <td><strong>Presentations/Demos</strong>
        </td>
      </tr>
      <tr>
        <td>09:30pm - 10:00pm</td>
        <td><strong>Winners Announced !</strong></td>
      </tr>
    </table>
    </div>


</div>