<div class="schedule content_pos">
    <div class="hero-unit">
      <h1>#ContributingCode Finale</h1>
     <hr>

    <h3>Saturday July 28th, 2012 at <a target="_blank" href="#venue">VMware Creekside Campus</a></h3>

      <br />
      <br />

    <div class="row">
        <div class="span2">
          <p>09:00am - 10:15am</p>
        </div>
        <div class="span8">
          <h3>Welcome</h3>
          <p>Check In with your Student ID. Grab Breakfast. Set Up your Team Space</p>
           <p>Kickoff by the VMware Service Foundation Programs Director.</p>
        </div>
    </div>

      <div class="row">
          <div class="span2">
            <p>10:15am - 08:00pm</p>
          </div>
          <div class="span8">
            <h3>Coding</h3>
            <p>Score as many <a target="_blank" href="#rules">points</a> as possible working on your app or on one of the <a target="_blank" href="/info">sponsored challenges</a>.</p>
            <p>Mentors will be available the entire day to help you with <a target="_blank" href="http://cloudfoundry.com">Cloud Foundry</a>, Git, <strong>Node.js, Ruby or Java</strong></p>
             <p>Lunch will be available around 12:30. <strong>T-Shirts</strong> starting at <strong>6pm</strong>. Dinner will be available starting at 7pm</p>
          </div>
      </div>

      <div class="row">
        <div class="span2">
          <p>08:00pm - 10:00pm</p>
        </div>
        <div class="span8">
          <h3>Finale</h3>
           <p>Sign up to demo your project by 8pm. Then demos start right at 8pm and last 5 minutes.</p>
           <p>Winners of <a target="_blank" href="#prizes">Grand Prizes</a> Announced around 9:30pm</p>
           </ul>
        </div>
    </div>


    </div>


</div>