<div class="venue content_pos" xmlns="http://www.w3.org/1999/html">
  <div class="hero-unit">
    <h1>Venue</h1>
    <hr>
    <div class="row-fluid">
      <div class="span7">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=900+Arastradero+Rd,+Palo+Alto,+CA+94304&amp;aq=&amp;sll=37.394067,-122.148081&amp;sspn=111.734219,222.363281&amp;ie=UTF8&amp;hq=&amp;hnear=900+Arastradero+Rd,+Palo+Alto,+California+94304&amp;ll=37.395472,-122.141458&amp;spn=0.003831,0.006786&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=900+Arastradero+Rd,+Palo+Alto,+CA+94304&amp;aq=&amp;sll=37.394067,-122.148081&amp;sspn=111.734219,222.363281&amp;ie=UTF8&amp;hq=&amp;hnear=900+Arastradero+Rd,+Palo+Alto,+California+94304&amp;ll=37.395472,-122.141458&amp;spn=0.003831,0.006786&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
      <div class="span5 space-top">
        <p><h2>VMware Creekside A</h2><p>
        <p>900 Arastradero Rd, Palo Alto, CA 94304</p>
      </div>
      <a href="https://foursquare.com/v/vmware--creekside-a/4f305839e4b03caf55d8a2e5">FourSquare</a>
    </div>
  </div>
</div>
