<div class="venue content_pos">
  <div class="hero-unit">
    <h1>Venue</h1>
    <hr>
    <div class="row-fluid">
      <div class="span7">
        <iframe width="425" height="350" frameborder="0" scrolling="no" style="border:8px solid #111111" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=vmware++paloalto&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,92.373047&amp;ie=UTF8&amp;hq=vmware++paloalto&amp;hnear=&amp;t=m&amp;cid=1482153777868435151&amp;ll=37.394014,-122.147894&amp;spn=46.890512,92.373047&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=vmware++paloalto&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=48.50801,92.373047&amp;ie=UTF8&amp;hq=vmware++paloalto&amp;hnear=&amp;t=m&amp;cid=1482153777868435151&amp;ll=37.394014,-122.147894&amp;spn=46.890512,92.373047" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
      <div class="span5 space-top">
        <p><h2>VMware, Inc. </h2><br>
        World Headquarters<br>
        3401 Hillview Ave <br>
        Palo Alto, CA 94304 USA <br>
        Tel: 1-877-486-9273 </p>
      </div>
    </div>
  </div>
</div>
