<div class="wdb-social">

  <div class="row">
    <div style="text-align:center;" class="span1">
      <a href="#" id="ShareFacebook" > <img src ="/assets/ico_Facebook.png" > </a>
    </div>
  </div>

  <div class="row">
    <div style="text-align:center;" class="span1">
        <a href="#" id="ShareTweet" ><img src ="/assets/ico_Twitter.png" ></a>
    </div>
  </div>

  <div class="row">
    <div style="text-align:center;" class="span1">
        <a href="#"  onclick="popUp=window.open('https://plusone.google.com/_/+1/confirm?hl=en-US&url=http://contributingcode.cloudfoundry.com/', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false"><img src ="/assets/ico_GooglePlus.png" ></a>
    </div>
  </div>

  <div class="row" style="padding-top:8px;">
    <div style="text-align:center;" class="span1">
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://contributingcode.cloudfoundry.com/&" target="_new">
      <img src="/assets/logo-linkedin-small.png" alt="linkedin share button" title="linkedin share button" /></a>
    </div>
  </div>

  <div class="row cloudfoundry_badge">
    <div class="span1">
      <div class="logo-cf" align="center">
        <a href="http://www.cloudfoundry.com" target="_blank"><img src="/assets/logo_cloud_foundry.png"></a>
      </div>
  </div>
  </div>
  <a  class="space_top" href="https://my.cloudfoundry.com/signup/contributingcode" target="_blank" >signup for free</a> 
</div>
