<div class="faq_pos">
<h1>FAQs</h1>


<div class="alert space_top alert-info question" style="height:auto;">
    <a class="btn q1">+</a>
    What is the ContributingCode sprint ?
    <div class="answer hide"> 
      Students #ContributingCode is a competition for students in the Palo Alto, CA area which will be held during the last two weeks of July 2012.
    </div>
</div>

<div class="alert space_top alert-info question" style="height:auto;">
    <a class="btn q1">+</a>
    Where can I register for the event ?
    <div class="answer hide"> 
      You can register <a href="http://contributingcode.cloudfoundry.com/" target="_blank">here</a>.
    </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  Who can participate in the #ContributingCode event ?
  <div class="answer hide">
    Any student with a non-expired student ID is allowed to participate. Participation requires that the team members be present on July 28th to present their projects.
  </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  What are the key dates and locations for the ContributingCode event ?
  <div class="answer hide">
    The venue for the Bootcamp on July 13th and final day of ContributingCode sprint on July 28th is the <a href="https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=vmware++paloalto&aq=&sll=37.0625,-95.677068&sspn=48.50801,92.373047&ie=UTF8&hq=vmware++paloalto&hnear=&t=m&cid=1482153777868435151&ll=37.394014,-122.147894&spn=46.890512,92.373047" target="_blank">VMware Headquarters Palo Alto.</a>
  </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
   Is it an online event?
  <div class="answer hide">
    <ul><li>Team members will be added to GitHub repos on the July 13th at 6pm.</li>
    <li> Teams can start working on the app remotely.</li>
    <li> On July 28th teams (with all their team members present) are required to attend the codesprint and are expected to demo their apps to the judges in person at the <a href="https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=vmware++paloalto&aq=&sll=37.0625,-95.677068&sspn=48.50801,92.373047&ie=UTF8&hq=vmware++paloalto&hnear=&t=m&cid=1482153777868435151&ll=37.394014,-122.147894&spn=46.890512,92.373047" target="_blank">VMware Headquarters Palo Alto.</a></li>
  </ul>
  </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  What are the prizes? 
  <div class="answer hide">
    <ul><li><span class="bold">First prize:</span> $4000</li>
      <li><span class="bold">Second prize:</span> $2000</li>
      <li><span class="bold">Third prize:</span> $1000</li>
      <li>In addition we have GitHub accounts as prizes. The criteria for these will be kept secret.</li>
    </ul>
  </div>
</div>

<div class="alert space_top alert-info question" style="height:auto;">
    <a class="btn q1">+</a>
    Are we given specific projects or do we have to come up with something on our own?  
    <div class="answer hide"> 
      Up to you. Either you can come up with your own ideas or take up projects we describe to you on the day of bootcamp. It must be for <span class="bold">social good<span>. 
    </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  How do we submit our apps?
  <div class="answer hide">
    <ul><li>Each team will be given a <a href="https://github.com/" target="_blank">GitHub</a> repo to submit the code</li>
    <li>Teams are expected to email their GitHub repo link and the URL of your project (if applicable) to <a href="mailto:contributingcode@vmware.com?subject=submission">contributingcode@vmware.com</a> by July 28th 8pm</li>
     <li>On July 28th each team is expected to demo the app to the judges in person and all the team members are required to be present with a non-expired student ID.</li></ul>
  </div>
</div>

<div class="alert alert-info question" style="height:auto;">
  <a class="btn q1">+</a>
  How will the Winners be chosen?
  <div class="answer hide">
    The winners will be chosen by the Expert Panel from the Cloud Foundry Developer Relations team following the criteria outlined below. Judging will take place between July 28th, at 08:00 pm to 09:00 pm PMT.
  </div>
</div>

<div class="alert space_top alert-info question" style="height:auto;">
    <a class="btn q1">+</a>
    What are the judging criteria?
    <div class="answer hide"> 
      <ul>
        <li>Social Good Impact</li>
        <li>Best Use of <a href="http://www.cloudfoundry.com/" target="_blank">Cloud Foundry</a></li>
        <li>Originality of Concept</li>
        <li>User Interface and Appeal</li>
        <li>Best marketing plan and app virality</li>
        <li>Best architecture</li>
        <li>Best documentation and Open Source Support</li>
      </ul>
    </div>
</div>


<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  Must the apps be deployed on cloudfoundry.com?
  <div class="answer hide">
    Yes, apps must be deployed and shown running on the Cloud Foundry public PaaS at cloudfoundry.com. Sign up for free with promo code <a href="https://my.cloudfoundry.com/signup/contributingcode" target="_blank" >here</a> 
  </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  Must all entries be licensed via an Open Source License?
  <div class="answer hide">
    The goal of the ContributingCode is to improve Open Source projects and to help the community. So yes, your entries must be open source too.
  </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  What are the frameworks or languages that we are supposed to use?
  <div class="answer hide">
  Any language or framework that cloudfoundry.com supports. eg. Java, Ruby, Sinatra, Rails, Node.js, Spring, Scala or Grails. Refer <a href="http://docs.cloudfoundry.com/frameworks.html" target="_blank" >here</a> for more information.
</div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  If we sign up as an individual and later find a team to join, is that possible?
  <div class="answer hide">
    Yes you can either create your team or request to join other teams after you register. Visit <a href="http://contributingcode.cloudfoundry.com/#myteam" target="_blank">this</a> section to join/create a team.
  </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  How is the amount of contribution determined?  Would an individual be at a disadvantage because they can't write as much code as a team of four within the time frame?
  <div class="answer hide">
    The idea matters a lot. If you don't code much you can give ideas, visualize and sketch the UI and your teammates can implement it.
  </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  Where can we learn more about Cloud Foundry?
  <div class="answer hide">
    Refer to the Cloud Foundry documentation <a href="http://docs.cloudfoundry.com/getting-started.html" target="_blank" >here</a>. Also on the day of bootcamp we will have talks on deploying apps on Cloud Foundry.
  </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  Is there a limit on the number of registrants?
  <div class="answer hide">
    Yes. Only the first 200 registrants will be allowed. New members will not be able to register if we reach 200 participants.
  </div>
</div>

<div class="alert alert-info question" >
  <a class="btn q1">+</a>
  Is transportation provided?
  <div class="answer hide">
    We are planing to provide shuttles to the Caltrain station and VMware intern housing based on the the need. Login to <a href="http://contributingcode.cloudfoundry.com/">contributingcode.cloudfoundry.com</a> to request a shuttle, in case you haven't done so while registering for the event.
  </div>
</div>


<div class="alert alert-info question" >
  <a  class="btn q1">+</a>
  I have additional questions! 
  <div class="answer hide">
    Email them to <a href="mailto:contributingcode@vmware.com?subject=question">contributingcode@vmware.com</a> or tweet to <a href='https://twitter.com/#!/cfcodesprint'>@cfcodesprint</a>
  </div>
</div>

</div>


