<div class="faq_pos">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Projects</a></li>
    <li><a href="#tab2" data-toggle="tab">Tutorials</a></li>
  </ul>
  <div class="tab-content lspace" style="width:800px;height:1600px;bgcolor:white;">
    <div class="tab-pane active" id="tab1">
      <div class="row-fluid">
        <div class="span9" style="padding-top:30px;">
          <h1>SocialCoding4Good - Miradi App</h1> 
        </div>
        <div class="span3">
          <a href="http://socialcoding4good.org/" target="_blank">
        <img style="align:center;" src="http://socialcoding4good.org/sites/default/files/Logos-15.png"></a>
        </div>
      </div>
        <hr>
        <p>The Miradi Online project is an opportunity for you contribute your technical skills to the conservation of our planet's biodiversity.  Today thousands of conservation practitioners that work for organizations, such as The Nature Conservancy or World Wildlife Fund, use the <a href="https://miradi.org/files/files" target="_blank">Miradi Desktop</a> client software to <a href="https://miradi.org/features" target="_blank">design, track and analyze</a> their conservation projects. Now we need you to build "Miradi Online" to enable conservation practitioners to share best practices and collaborate globally with each other and donors.</p>
        <p>Please visit and carefully read the <a href="https://github.com/benetech/Miradi-Online/wiki" target="_blank">project wiki</a> to get started.</p>
        <p>Check out Miradi issues on GitHub here <a href="https://github.com/benetech/Miradi-Online" target="_blank">here</a>
        The issues are grouped by tags. A team can take one or more tasks that are represented by tags.</p>
      <br><br><br>
      <div class="space_top">
        <div class="row-fluid">
        <div class="span9">
          <h1>CodeForAmerica - RFP Alerts App</h1>
        </div>
        <div class="span3">
          <a href="http://codeforamerica.org/" target="_blank"><img style="align:center;" src="http://codeforamerica.org/wp-content/uploads/2011/12/CfA_logo-300x120.png"></a>
        </div>
      </div>
        <hr>
        <h3>Overview</h3>
        <p>An app that automatically alerts government IT officials when open source software solutions match their Requests for Proposals (“RFPs”).</p>

        <h3>Background</h3>
        <p>By 2014, the Federal government will spend an anticipated $112 billion per year on IT.  State and local governments will spend approximately $60 billion.  These expenditures result in a steady stream of government RFPs, which include detailed project requirements and specs.

        For some of these RFPs, there might be an existing open source solution that could meet the project requirements and save the government from building custom software from scratch.  Doing so could save cash-strapped local governments valuable resources that are desperately needed elsewhere. But a lack of information and burdensome procurement processes mean that government IT purchasers are rarely aware of available open source options.  

        The Code for America Commons, a searchable directory of civic technology, attempts to address this problem by cataloging and promoting open source software available for government use.  We see an opportunity to take this a step further and deliver timely, relevant information directly to the government officials who are posting these software RFPs.  

        Enter RFP Alerts: a stand-alone app that will alert procurement officers when their RFP matches existing open source software listed in the Code for America Commons. For <a href="http://civiccommons.org/apps/kuali-people-management-enterprise and http://cp.slco.org/pdf/ERPSystemFinal.pdf" target="_blank">example</a>.</p>

        <h3>How it could work</h3>
        <p>We have some ideas on how to build this -- but we need your help. Here’s how we think it could work:

        Software RFPs are screen-scraped from City, State, and Federal <a href="https://docs.google.com/a/codeforamerica.org/spreadsheet/ccc?key=0ArtbydVTE5cOdHpKOXlvUGUxT2ZEbWpXM19UcnhtQ1E#gid=1" target="_blank">websites</a>
        Using Natural Language Processing, the text of the project description from each RFP is analyzed and classified.
        Software RFPs are matched to appropriate open source solutions listed in the CfA Commons directory.
        Automated emails are sent to procurement officers alerting them to potential matches.

        This is an important challenge, and the potential to disrupt the IT procurement process is huge -- $112 billion dollars huge. Excited to get started?</p>

        <h3>Get in touch</h3>
        <p>Email us at <a href="mailto:contributingcode@codeforamerica.org?subject=question">contributingcode@codeforamerica.org</a> or post on <a href="https://groups.google.com/a/codeforamerica.org/d/forum/contributingcode" target="_blank"> Google Groups</a> with any questions, comments, or ideas.</p>
 
        <h3><a href="http://www.slideshare.net/joelmahoney/vmware-contributing-code-hackathon-7132012" target="_blank">Slides</a> for the bootcamp</h3>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="alert space_top alert-info question" style="height:auto;">
        <a class="btn q1">+</a>  
        Bootcamp presentations
        <div class="answer hide"> 
          <ul style="list-style-type: none;">
            <li><a href="http://www.slideshare.net/chris.e.richardson/cloud-foundry-bootcamp-at-contributingcode" target="_blank">Slides</a> on Cloud Foundry and Scala</li>
            <li><a href="http://www.slideshare.net/rajaraodv" target="_blank">Slides</a> on Node.js</li>
            <li><a href="http://studios.cloudfoundry.com/cc" target="_blank">Slides</a> on Ruby</li>
            <li><a href="http://www.slideshare.net/joelmahoney/vmware-contributing-code-hackathon-7132012" target="_blank">Slides</a> on CodeForAmerica project</li>
            <li><a href="http://cloud.github.com/downloads/benetech/Miradi-Online/ContributingCode%20July%202012.pdf" target="_blank">Slides</a> on Miradi project</li>
          </ul> 
        </div>
      </div>
      <div class="alert space_top alert-info question" style="height:auto;">
        <a class="btn q1">+</a>  
        Learn Git in 15 mins
        <div class="answer hide"> 
          Learn git the codeschool way <a href="http://try.github.com/" target="_blank">try.github.com</a>
        </div>
      </div>
      <div class="alert space_top alert-info question" style="height:auto;">
        <a class="btn q1">+</a>  
        Getting Started with Ruby on Cloud Foundry
        <div class="answer hide"> 
          <iframe width="640" height="360" src="http://www.youtube.com/embed/LZQDeKaPbKU?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="alert space_top alert-info question" style="height:auto;">
        <a class="btn q1">+</a>  
        Spring Applications on Cloud Foundry
        <div class="answer hide"> 
          <iframe width="640" height="360" src="http://www.youtube.com/embed/5UwMw4DNHsQ?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="alert space_top alert-info question" style="height:auto;">
        <a class="btn q1">+</a>  
        Sample apps on Cloud Foundry - GitHub repos 
        <div class="answer hide"> 
          <a href="https://github.com/organizations/cloudfoundry-samples" target="_blank">https://github.com/organizations/cloudfoundry-samples</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>