<div class="faq_pos">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Projects</a></li>
    <li><a href="#tab2" data-toggle="tab">Tutorials</a></li>
    <li><a href="#tab3" data-toggle="tab">Contact</a></li>
  </ul>
  <div class="tab-content" style="width:600px;height:600px;">
    <div class="tab-pane active" id="tab1">
      <h3>Check out Miradi issues here <a href="https://github.com/benetech/Miradi-Online" target="_blank">here</a>. The issues are grouped by tags.</h3>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Will be updated soon</p>
    </div>
    <div class="tab-pane" id="tab3">
       Email to <a href="mailto:contributingcode@vmware.com?subject=question">contributingcode@vmware.com</a> or tweet to <a href='https://twitter.com/#!/cfcodesprint'>@cfcodesprint</a>
    </div>
  </div>
</div>
</div>