<div class="content_pos">
  <div class="row space_top">
    <div class="span4" style="text-align:center;">
      <img align="top" src="/assets/prize_First.png">
      <p>First prize</p>
    </div>
    <div class="span4" style="text-align:center;">
      <img align="top" src="/assets/prize_Second.png">
      <p>Second prize</p>
    </div>
    <div class="span4" style="text-align:center;">
      <img align="top" src="/assets/prize_Third.png">
      <p>Third prize</p>
    </div>
  </div>
  <h2 class="space_top">Grand prize winners</h2>
  <div class="row space_top">
    <div class="span4" style="text-align:center;">
    	<img align="top" src="/assets/avatar_team.gif">
      <h2>Teamdotly</h2>
    </div>
    <div class="span4" style="text-align:center;">
    	<img align="top" src="/assets/avatar_team.gif">
      <h2>Buddy</h2>
    </div>
    <div class="span4" style="text-align:center;">
    	<img align="top" src="/assets/avatar_team.gif">
      <h2>RedThread</h2>
    </div>
  </div>
  <hr>
  <h2>Octocat winners</h2>
  <div class="row space_top">
    <div class="span4" style="text-align:center;">
    	<img align="top" src="/assets/avatar_team.gif">
      <h2>Cloud9</h2>
    </div>
    <div class="span4" style="text-align:center;">
    	<img align="top" src="/assets/avatar_team.gif">
      <h2>92J</h2>
    </div>
    <div class="span4" style="text-align:center;">
    	<img align="top" src="/assets/avatar_team.gif">
      <h2>Army Ants</h2>
    </div>
  </div>
  <hr>
</div>
