<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      .my_font {color: #2c9cc2; font-style:italic}
    </style>
  </head>
  <body>
    <table width="100%" style='border: 2px solid #aaa'>
      <tr>
        <td style='padding:5px;'></td>
      </tr>
      <tr>
        <td align='center' style='font-family: Georgia; padding:10px 0 25px; font-size:26px'>
          <%if @type == 0 %>
           <span class="my_font"> <%= @sender %> </span>has invited you to join the team <span class="my_font">
           <%= @team %></span>
            Hurry up! you may not be able to join if the team gets filled up.
          <% else %>
            <span class="my_font"><%= @sender %> </span> has requested to join your team <span class="my_font">
            <%= @team %></span>
            Hurry up! You may not able to add him if he joins some other team.
          <% end %>
        </td>
      </tr>
      <tr>
        <td align='center' style='font-family: Georgia; padding:40px 0 10px; font-size:26px; color: #42963B'>Visit <a href="http://contributingcode.cloudfoundry.com">contributingcode.cloudfoundry.com</a> to <strong>accept/decline</strong> request</td>
      </tr>
      <tr>
        <td align='center'><img src="http://shapeshed.com/images/articles/cloud_foundry.jpg"></td>
      </tr>
      <tr>
        <td style='padding:10px;'></td>
      </tr>
    </table>
  </body>
</html>