<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table width="100%" style='border: 2px solid #aaa'>
      <tr>
        <td style='padding:5px;'></td>
      </tr>
      <tr>
        <td align='center' style='font-family: Georgia; padding:10px 0 25px; font-size:26px'>Thank you <span style='color: #2c9cc2; font-style:italic'><%= @name %></span>, for registering for contributingcode sprint </td>
      </tr>
      <tr>
        <td align='center' style='font-family: Georgia; padding:40px 0 10px; font-size:26px; color: #42963B'></a> Create your Cloudfoundry account for free <a href="https://my.cloudfoundry.com/signup/contributingcode" target="_blank" class="btn-large btn-info">here</a> </td>
      </tr>
      <tr>
        <td align='center' style='font-family: Georgia; padding:40px 0 10px; font-size:26px; color: #42963B'>Visit <a href="http://contributingcode.cloudfoundry.com">contributingcode.cloudfoundry.com</a> for more information</td>
      </tr>
      <tr>
        <td align='center'><img src="http://shapeshed.com/images/articles/cloud_foundry.jpg"></td>
      </tr>
      <tr>
        <td style='padding:10px;'></td>
      </tr>
    </table>
  </body>
</html>